<div
    x-data="{
        open: false,
        init() {
            this.$watch('open', value => {
                document.body.classList.toggle('overflow-hidden', value);
            });
        }
    }"
    class="h-8 md:hidden"
>
    <button
        @click="open = !open"
        class="duration-300 ease-in-out group navigation-menu-mobile-popover outline-none! ring-0! ring-neutral-50 rounded-lg transition-all focus-visible:ring-2! [&:hover_.navigation-menu-line]:stroke-primary-500"
    >
        <div class="cursor-pointer">
            <svg
                :class="{ '-rotate-45 -translate-x-[0.25px] translate-y-[0.75px] [stroke-dasharray:20_300]': open }"
                class="cursor-pointer duration-[600ms] ease-[cubic-bezier(0.4,0,0.2,1)] h-8 transition-transform"
                viewBox="0 0 32 32"
            >
                <path
                    :class="{ '[stroke-dasharray:20_300] [stroke-dashoffset:-32.42]': open }"
                    class="[stroke-dasharray:12_63] [stroke-linecap:round] [stroke-linejoin:round] [transition:stroke-dasharray_600ms_cubic-bezier(0.4,_0,_0.2,_1),_stroke-dashoffset_600ms_cubic-bezier(0.4,_0,_0.2,_1)] cursor-pointer duration-300 ease-in-out fill-none stroke-3 stroke-neutral-100 transition-all group-hover:!stroke-neutral-100"
                    d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path
                    class="[stroke-linecap:round] [stroke-linejoin:round] [transition:stroke-dasharray_600ms_cubic-bezier(0.4,_0,_0.2,_1),_stroke-dashoffset_600ms_cubic-bezier(0.4,_0,_0.2,_1)] cursor-pointer duration-300 ease-in-out fill-none stroke-3 stroke-neutral-100 transition-all group-hover:!stroke-neutral-100"
                    d="M7 16 27 16"
                ></path>
            </svg>
        </div>
    </button>
    <div
        x-show="open"
        x-transition
        class="absolute bg-neutral-800 h-screen left-0 overflow-scroll top-full transition-all w-full z-10"
    >
        <ul class="flex flex-col gap-5 p-5">
            {{ nav:main_navigation }}
            <li
                x-data="{ mobileDropdownOpen: false, isActive: '{{ url }}' === currentPath || ('{{ url }}' === '/' && currentPath === '/home') }"
                class="relative w-fit"
            >
                {{ if children }}
                <button
                    :class="{ 'text-blue-500! hover:text-blue-300!': isActive }"
                    @click="mobileDropdownOpen = !mobileDropdownOpen"
                    class="cursor-pointer font-bold gap-1.5 outline-hidden inline-flex items-center relative text-lg text-neutral-100 transition-all w-fit focus-visible:after:scale-100 hover:text-blue-500 after:absolute after:bg-white after:bottom-0 after:h-0.5 after:left-0 after:scale-0 after:transition-all after:w-full"
                >
                    {{ title }}
                    <span
                        :class="{ 'rotate-180': mobileDropdownOpen }"
                        class="transition-all"
                    >
                        <svg
                            class="size-4"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 9l-7 7-7-7"
                            />
                        </svg>
                    </span>
                </button>
                <ul
                    @click.away="mobileDropdownOpen = false"
                    class="bg-neutral-800 flex flex-col gap-2 px-3 py-2 rounded-lg w-fit"
                    x-show="mobileDropdownOpen"
                    x-transition
                >
                    <li
                        :class="{ 'text-blue-500! hover:text-blue-300!': isActive }"
                        class="font-bold outline-hidden ring-neutral-50 rounded text-neutral-50 tracking-wide [&_>_*]:outline-hidden has-focus-visible:ring-2 hover:text-blue-500"
                    >
                        <a href="{{ url }}"> {{ title }} </a>
                    </li>
                    {{ children }}
                    <li
                        :class="{ 'text-blue-500! hover:text-blue-300!': '{{ url }}' === currentPath }"
                        class="font-bold outline-hidden ring-neutral-50 rounded text-neutral-50 tracking-wide [&_>_*]:outline-hidden has-focus-visible:ring-2 hover:text-blue-500"
                    >
                        <a href="{{ url }}"> {{ title }} </a>
                    </li>
                    {{ /children }}
                </ul>
                {{ else }}
                <a
                    :class="{ 'text-blue-500! hover:text-blue-300!': isActive }"
                    class="font-bold outline-hidden text-lg text-neutral-100 transition-all w-fit focus-visible:after:scale-100 hover:text-blue-500 after:absolute after:bg-white after:bottom-0 after:h-0.5 after:left-0 after:scale-0 after:transition-all after:w-full"
                    href="{{ url }}"
                >
                    {{ title }}
                </a>
                {{ /if }}
            </li>
            {{ /nav:main_navigation }}
        </ul>
    </div>
</div>
